<footer>
  <a class="social" target="_blank" href="https://github.com/DzgnIO"><i class="fa fa-github fa-2x"></i></a>
  <a class="social" target="_blank" href="https://twitter.com/Dzgn_IO"><i class="fa fa-twitter fa-2x"></i></a>
  <a class="social" target="_blank" href="https://www.instagram.com/dzgnio/"><i class="fa fa-instagram fa-2x"></i></a>
  <a class="social" target="_blank" href="https://medium.com/dzgn-io"><i class="fa fa-medium fa-2x"></i></a>
  <a class="social" target="_blank" href="http://www.facebook.com/dzgnio"><i class="fa fa-facebook-official fa-2x"></i></a>
  <br><span class="copyright noSelect">Copyright Dzgn.IO</span>
</footer>

<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/what-input.js"></script>
<script src="/assets/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-149696698-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149696698-1');
</script>
